
/* Defaults */

html {
	width: 100%;
	height: 100%;
}
body { margin-top: 60px; }

/* Backgrounds */

#opener {
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
	url("../imgs/background.jpg") no-repeat scroll top;
	width: 100%;
	height: calc(100vh - 60px);
	display:table;
}
#opener div {
	display:table-cell;
	vertical-align: middle;
}

#thecompetition {	
	background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
	url("../imgs/mountain.jpg") no-repeat fixed top;
}
#contactus {	
	background: linear-gradient(rgba(255, 0, 255, 0.45), rgba(255, 0, 255, 0.45)),
	url("../imgs/city.jpg") no-repeat fixed bottom;
}

/* Colors from http://clrs.cc/ */

.navy { color: #001f3f; }
.blue { color: #0074D9; }
.aqua { color: #7FDBFF; }
.teal { color: #39CCCC; }
.olive { color: #3D9970; }
.green { color: #2ECC40; }
.lime { color: #01FF70; }
.yellow { color: #FFDC00; }
.orange { color: #FF851B; }
.red { color: #FF4136; }
.maroon { color: #85144b; }
.fuchsia { color: #F012BE; }
.purple { color: #B10DC9; }
.black { color: #111111; }
.gray { color: #AAAAAA; }
.silver { color: #DDDDDD; }
.white { color: #FFFFFF; }